In [2]:
import pandas as pd
import numpy as np

In [4]:
unemployment_original = pd.read_csv('unemployment.csv')
inationality_original = pd.read_csv('immigrants_by_nationality.csv')
#ds3 = pd.read_csv ("immigrants_emigrants_by_age.csv")
population_2017 = pd.read_csv ("pop2017.csv")
population_2016 = pd.read_csv ("pop2016.csv")
population_2015 = pd.read_csv ("pop2015.csv")

#list(population_original["Year"].unique())
population_original = pd.concat([population_2017, population_2016, population_2015])
population_original.columns=['Year', "District Code", "District Name" ,"Neighborhood Code" ,"Neighborhood Name", "Gender", "Number"]
inationality_original.head()

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Nationality,Number
0,2017,1,Ciutat Vella,1,el Raval,Spain,1109
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Spain,482
2,2017,1,Ciutat Vella,3,la Barceloneta,Spain,414
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Spain,537
4,2017,2,Eixample,5,el Fort Pienc,Spain,663

In [5]:


unemployment_original.astype({'Demand_occupation': 'str'}).dtypes
#ages = list(population_original["Age"].unique())
#exclusion_age = ages [3:14]

#print(exclusion_age)

Year                  int64
Month                object
District Code         int64
District Name        object
Neighborhood Code     int64
Neighborhood Name    object
Gender               object
Demand_occupation    object
Number                int64
dtype: object

In [10]:
# Get names of indexes for which column Age has value 30

clean_pop = population_original[(population_original['Neighborhood Code'] != 99)] 

clean_unemployment = unemployment_original[(unemployment_original['Neighborhood Code'] != 99) &
                                           (unemployment_original['Month'] == "January") &
                                           (unemployment_original['Demand_occupation'] == "Registered unemployed")]


clean_immigrants = inationality_original[(inationality_original['Neighborhood Code'] != 99) &
                                         (inationality_original['Nationality'] != "No information")]



print(clean_immigrants.shape)
print(clean_unemployment.shape)
print(unemployment_original.shape)
clean_unemployment.head(168)

(34529, 7)
(730, 9)
(14208, 9)

,Year,Month,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender,Demand_occupation,Number
0,2017,January,1,Ciutat Vella,1,el Raval,Male,Registered unemployed,2107
1,2017,January,1,Ciutat Vella,2,el Barri Gòtic,Male,Registered unemployed,538
2,2017,January,1,Ciutat Vella,3,la Barceloneta,Male,Registered unemployed,537
3,2017,January,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,Registered unemployed,741
4,2017,January,2,Eixample,5,el Fort Pienc,Male,Registered unemployed,630
5,2017,January,2,Eixample,6,la Sagrada Família,Male,Registered unemployed,1032
6,2017,January,2,Eixample,7,la Dreta de l'Eixample,Male,Registered unemployed,655
7,2017,January,2,Eixample,8,l'Antiga Esquerra de l'Eixample,Male,Registered unemployed,751
8,2017,January,2,Eixample,9,la Nova Esquerra de l'Eixample,Male,Registered unemployed,1128
9,2017,January,2,Eixample,10,Sant Antoni,Male,Registered unemployed,847
10,2017,January,3,Sants-Montjuïc,11,el Poble Sec,Male,Registered unemployed,1247
11,2017,January,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Male,Registered unemployed,72
12,2017,January,3,Sants-Montjuïc,13,la Marina de Port,Male,Registered unemployed,814
13,2017,January,3,Sants-Montjuïc,14,la Font de la Guatlla,Male,Registered unemployed,311
14,2017,January,3,Sants-Montjuïc,15,Hostafrancs,Male,Registered unemployed,339
15,2017,January,3,Sants-Montjuïc,16,la Bordeta,Male,Registered unemployed,398
16,2017,January,3,Sants-Montjuïc,17,Sants - Badal,Male,Registered unemployed,422
17,2017,January,3,Sants-Montjuïc,18,Sants,Male,Registered unemployed,812
18,2017,January,4,Les Corts,19,les Corts,Male,Registered unemployed,839
19,2017,January,4,Les Corts,20,la Maternitat i Sant Ramon,Male,Registered unemployed,417
20,2017,January,4,Les Corts,21,Pedralbes,Male,Registered unemployed,103
21,2017,January,5,Sarrià-Sant Gervasi,22,"Vallvidrera, el Tibidabo i les Planes",Male,Registered unemployed,42
22,2017,January,5,Sarrià-Sant Gervasi,23,Sarrià,Male,Registered unemployed,221
23,2017,January,5,Sarrià-Sant Gervasi,24,les Tres Torres,Male,Registered unemployed,163
24,2017,January,5,Sarrià-Sant Gervasi,25,Sant Gervasi - la Bonanova,Male,Registered unemployed,259
25,2017,January,5,Sarrià-Sant Gervasi,26,Sant Gervasi - Galvany,Male,Registered unemployed,521
26,2017,January,5,Sarrià-Sant Gervasi,27,el Putxet i el Farró,Male,Registered unemployed,474
27,2017,January,6,Gràcia,28,Vallcarca i els Penitents,Male,Registered unemployed,308
28,2017,January,6,Gràcia,29,el Coll,Male,Registered unemployed,129
29,2017,January,6,Gràcia,30,la Salut,Male,Registered unemployed,250
...,...,...,...,...,...,...,...,...,...
213,2017,January,10,Sant Martí,66,el Parc i la Llacuna del Poblenou,Female,Registered unemployed,375
214,2017,January,10,Sant Martí,67,la Vila Olímpica del Poblenou,Female,Registered unemployed,248
215,2017,January,10,Sant Martí,68,el Poblenou,Female,Registered unemployed,853
216,2017,January,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Female,Registered unemployed,368
217,2017,January,10,Sant Martí,70,el Besòs i el Maresme,Female,Registered unemployed,841
218,2017,January,10,Sant Martí,71,Provençals del Poblenou,Female,Registered unemployed,593
219,2017,January,10,Sant Martí,72,Sant Martí de Provençals,Female,Registered unemployed,824
220,2017,January,10,Sant Martí,73,la Verneda i la Pau,Female,Registered unemployed,932
3552,2016,January,1,Ciutat Vella,1,el Raval,Male,Registered unemployed,2431
3553,2016,January,1,Ciutat Vella,2,el Barri Gòtic,Male,Registered unemployed,588
3554,2016,January,1,Ciutat Vella,3,la Barceloneta,Male,Registered unemployed,637
3555,2016,January,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,Registered unemployed,878
3556,2016,January,2,Eixample,5,el Fort Pienc,Male,Registered unemployed,693
3557,2016,January,2,Eixample,6,la Sagrada Família,Male,Registered unemployed,1154
3558,2016,January,2,Eixample,7,la Dreta de l'Eixample,Male,Registered unemployed,772
3559,2016,January,2,Eixample,8,l'Antiga Esquerra de l'Eixample,Male,Registered unemployed,855
3560,2016,January,2,Eixample,9,la Nova Esquerra de l'Eixample,Male,Registered unemployed,1255
3561,2016,January,2,Eixample,10,Sant Antoni,Male,Registered unemployed,922
3562,2016,January,3,Sants-Montjuïc,11,el Poble Sec,Male,Registered unemployed,1421
3563,2016,January,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Male,Registered unemployed,97
3564,2016,January,3,Sants-Montjuïc,13,la Marina de Port,Male,Registered unemployed,972
3565,2016,January,3,Sants-Montjuïc,14,la Font de la Guatlla,Male,Registered unemployed,356
3566,2016,January,3,Sants-Montjuïc,15,Hostafrancs,Male,Registered unemployed,391
3567,2016,January,3,Sants-Montjuïc,16,la Bordeta,Male,Registered unemployed,459
3568,2016,January,3,Sants-Montjuïc,17,Sants - Badal,Male,Registered unemployed,493
3569,2016,January,3,Sants-Montjuïc,18,Sants,Male,Registered unemployed,940
3570,2016,January,4,Les Corts,19,les Corts,Male,Registered unemployed,968
3571,2016,January,4,Les Corts,20,la Maternitat i Sant Ramon,Male,Registered unemployed,487
3572,2016,January,4,Les Corts,21,Pedralbes,Male,Registered unemployed,105
3573,2016,January,5,Sarrià-Sant Gervasi,22,"Vallvidrera, el Tibidabo i les Planes",Male,Registered unemployed,46

In [30]:
year = 2017

unemployment_year = clean_unemployment[clean_unemployment['Year']== year]

immigrants_year = clean_immigrants[clean_immigrants['Year']== year]       

population_year = clean_pop[clean_pop['Year']== year]

unemployment_year.shape

(146, 9)

In [32]:



immigrants_agg = immigrants_year.groupby(['Neighborhood Code',"Neighborhood Name"], as_index=False).agg({'Number': "sum"})

unemployment_agg = unemployment_year.groupby(['Neighborhood Code',"Neighborhood Name"], as_index=False).agg({'Number': "sum"})

population_agg = population_year.groupby(['Neighborhood Code',"Neighborhood Name"], as_index=False).agg({'Number': "sum"})

unemployment_gender_agg = unemployment_year.groupby(['Neighborhood Code',"Neighborhood Name", "Gender"], as_index=False).agg({'Number': "sum"})

immigrants_agg = immigrants_agg.rename(columns = {"Number": "Total Immigrants"})

unemployment_agg = unemployment_agg.rename(columns = {"Number": "Registered Unemployed"})

population_agg = population_agg.rename(columns = {"Number": "Total Residents"})

#immigrants_2017.tail()
#immigrants_2017_byhood.tail()
#hood1_pop = population_year [population_year["Neighborhood.Code"] ==1]
population_agg.head()
#unemployment_year = unemployment_original.drop(indexdrop , axis = 0 )
#unmployment_registere
#unemployment_agg.head()

   Neighborhood Code                      Neighborhood Name  Total Residents
0                  1                               el Raval            47986
1                  2                         el Barri Gòtic            16240
2                  3                         la Barceloneta            15101
3                  4  Sant Pere, Santa Caterina i la Ribera            22923
4                  5                          el Fort Pienc            32048

In [34]:
merged_unemp_immigr = unemployment_agg.merge(immigrants_agg, on= ['Neighborhood Code',"Neighborhood Name"])

database = merged_unemp_immigr.merge(population_agg, on= ['Neighborhood Code',"Neighborhood Name"])

database["ratio"] = database['Total Immigrants'] / database["Total Residents"]

database.head()

,Neighborhood Code,Neighborhood Name,Registered Unemployed,Total Immigrants,Total Residents,ratio
0,1,el Raval,3559,5398,47986,0.112491
1,2,el Barri Gòtic,949,2686,16240,0.165394
2,3,la Barceloneta,1062,1759,15101,0.116482
3,4,"Sant Pere, Santa Caterina i la Ribera",1466,2765,22923,0.120621
4,5,el Fort Pienc,1368,2235,32048,0.069739

In [ ]:



"""filtered_ds = ds[(ds['Make']=='Ford') & 
                 (ds['Cylinders']>=6) & 
                (ds['Combined MPG'] < 18)]"""

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Age,Immigrants,Emigrants
0,2017,1,Ciutat Vella,1,el Raval,0-4,154,108
1,2017,1,Ciutat Vella,2,el Barri Gòtic,0-4,58,33
2,2017,1,Ciutat Vella,3,la Barceloneta,0-4,38,37
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",0-4,56,55
4,2017,2,Eixample,5,el Fort Pienc,0-4,79,60
5,2017,2,Eixample,6,la Sagrada Família,0-4,111,95
6,2017,2,Eixample,7,la Dreta de l'Eixample,0-4,121,78
7,2017,2,Eixample,8,l'Antiga Esquerra de l'Eixample,0-4,97,63
8,2017,2,Eixample,9,la Nova Esquerra de l'Eixample,0-4,123,130
9,2017,2,Eixample,10,Sant Antoni,0-4,57,80

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
0,2017,1,Ciutat Vella,1,el Raval,Male,0-4,224
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,50
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,0-4,43
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,95
4,2017,2,Eixample,5,el Fort Pienc,Male,0-4,124
5,2017,2,Eixample,6,la Sagrada Família,Male,0-4,191
6,2017,2,Eixample,7,la Dreta de l'Eixample,Male,0-4,176
7,2017,2,Eixample,8,l'Antiga Esquerra de l'Eixample,Male,0-4,158
8,2017,2,Eixample,9,la Nova Esquerra de l'Eixample,Male,0-4,220
9,2017,2,Eixample,10,Sant Antoni,Male,0-4,143

               Year  District.Code  Neighborhood.Code        Number
count  70080.000000   70080.000000       70080.000000  70080.000000
mean    2015.000000       6.246575          37.000000    114.844720
std        1.414224       2.788356          21.071458     96.540389
min     2013.000000       1.000000           1.000000      0.000000
25%     2014.000000       4.000000          19.000000     43.000000
50%     2015.000000       7.000000          37.000000     92.000000
75%     2016.000000       8.000000          55.000000    162.000000
max     2017.000000      10.000000          73.000000    777.000000