In [1]:
import pandas as pd
import numpy as np

In [2]:
unemployment_original = pd.read_csv('unemployment.csv')
natonality_immi_original = pd.read_csv('immigrants_by_nationality.csv')
age_immi_original = pd.read_csv('immigrants_emigrants_by_age.csv')
#ds3 = pd.read_csv ("immigrants_emigrants_by_age.csv")
#population_2017 = pd.read_csv ("pop2017.csv")
#population_2016 = pd.read_csv ("pop2016.csv")
#population_2015 = pd.read_csv ("pop2015.csv")
old_pop = pd.read_csv ("population.csv")
#list(population_original["Year"].unique())
#population_original = pd.concat([population_2017, population_2016, population_2015])
#population_original.columns=['Year', "District Code", "District Name" ,"Neighborhood Code" ,"Neighborhood Name", "Gender", "Number"]

age_immi_original.tail()

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Age,Immigrants,Emigrants
4657,2015,10,Sant Martí,70,el Besòs i el Maresme,>=100,0,1
4658,2015,10,Sant Martí,71,Provençals del Poblenou,>=100,0,0
4659,2015,10,Sant Martí,72,Sant Martí de Provençals,>=100,0,0
4660,2015,10,Sant Martí,73,la Verneda i la Pau,>=100,0,0
4661,2015,99,No consta,99,No consta,>=100,0,0

In [3]:


#unemployment_original.astype({'Demand_occupation': 'str'}).dtypes
ages = list(old_pop["Age"].unique())
exclusion_age = ages [3:14]
print(ages[3:14])

['15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69']

In [4]:

#clean_pop = population_original[(population_original['Neighborhood Code'] != 99)] 
clean_pop_old = old_pop[old_pop['Age'].isin(exclusion_age) & (old_pop['Neighborhood.Code'] != 99)] 


clean_unemployment = unemployment_original[(unemployment_original['Neighborhood Code'] != 99) &
                                           (unemployment_original['Month'] == "January") &
                                           (unemployment_original['Demand_occupation'] == "Registered unemployed")]


clean_immigrants_nat = natonality_immi_original[(natonality_immi_original['Neighborhood Code'] != 99) &
                                                (natonality_immi_original['Nationality'] != "No information") &
                                                (natonality_immi_original['Nationality'] != "Spain") &
                                               (natonality_immi_original['Number'] != 0)]
clean_immigrants_age = age_immi_original[age_immi_original['Age'].isin(exclusion_age) &
                                         (age_immi_original['Neighborhood Code'] != 99)]

clean_immigrants_nat.head()

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Nationality,Number
74,2017,1,Ciutat Vella,1,el Raval,Italy,360
75,2017,1,Ciutat Vella,2,el Barri Gòtic,Italy,275
76,2017,1,Ciutat Vella,3,la Barceloneta,Italy,285
77,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Italy,355
78,2017,2,Eixample,5,el Fort Pienc,Italy,207

In [5]:
year = 2017

unemployment_year = clean_unemployment[clean_unemployment['Year']== year]

immigrants_year_age = clean_immigrants_age[clean_immigrants_age['Year']== year]       
immigrants_year_nat = clean_immigrants_nat[clean_immigrants_nat['Year']== year]               

#population_year = clean_pop[clean_pop['Year']== year]
population_year_old = clean_pop_old[clean_pop_old['Year']== year]

# Select duplicate rows except first occurrence based on all columns
#population_year_old  = population_year_old[population_year_old.duplicated()]


#population_year_old =  population_year_old[["Year","Neighborhood.Code","Neighborhood.Name","Gender","Age","Number"]].drop_duplicates()

immigrants_year_nat.head()

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Nationality,Number
74,2017,1,Ciutat Vella,1,el Raval,Italy,360
75,2017,1,Ciutat Vella,2,el Barri Gòtic,Italy,275
76,2017,1,Ciutat Vella,3,la Barceloneta,Italy,285
77,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Italy,355
78,2017,2,Eixample,5,el Fort Pienc,Italy,207

In [6]:

immigrants_agg_nat = immigrants_year_nat.groupby(['Neighborhood Code',"Neighborhood Name","Nationality"], as_index=False).agg({'Number': "sum"})
immigrants_agg_nat = immigrants_agg_nat[immigrants_agg_nat["Number"] > 200]
immigrants_agg = immigrants_year_age.groupby(['Neighborhood Code',"Neighborhood Name"], as_index=False).agg({'Immigrants': "sum"})



#population_agg = population_year.groupby(['Neighborhood Code',"Neighborhood Name"], as_index=False).agg({'Number': "sum"})
pop_agg_old = population_year_old.groupby(['Neighborhood.Code',"Neighborhood.Name"], as_index=False).agg({'Number': "sum"})

unemployment_gender_agg = unemployment_year.groupby(['Neighborhood Code',"Neighborhood Name", "Gender"], as_index=False).agg({'Number': "sum"})

unemployment_agg = unemployment_year.groupby(['Neighborhood Code',"Neighborhood Name"], as_index=False).agg({'Number': "sum"})


immigrants_agg = immigrants_agg.rename(columns = {"Immigrants": "Total Immigrants"})

unemployment_agg = unemployment_agg.rename(columns = {"Number": "Registered Unemployed"})

population_agg = pop_agg_old.rename(columns = {"Number": "Total Residents", 'Neighborhood.Code': "Neighborhood Code","Neighborhood.Name" : "Neighborhood Name"})
#population_agg = population_agg.rename(columns = {"Number": "Total Residents"})


#immigrants_2017.tail()
#immigrants_2017_byhood.tail()
#hood1_pop = population_year [population_year["Neighborhood.Code"] ==1]
immigrants_agg_nat.head()
#unemployment_year = unemployment_original.drop(indexdrop , axis = 0 )
#unmployment_registere
#unemployment_agg.head()

    Neighborhood Code Neighborhood Name Nationality  Number
8                   1          el Raval  Bangladesh     470
32                  1          el Raval      France     209
43                  1          el Raval       India     203
49                  1          el Raval       Italy     360
73                  1          el Raval    Pakistan     605

In [7]:
merged_unemp_immigr = unemployment_agg.merge(immigrants_agg, on= ['Neighborhood Code',"Neighborhood Name"])

database1 = merged_unemp_immigr.merge(population_agg, on = ['Neighborhood Code',"Neighborhood Name"])

database1["% Immigrants 2017"] = database1['Total Immigrants'] / database1["Total Residents"] * 100 

database1["% Unemployed 2017"] = database1['Registered Unemployed'] / database1["Total Residents"] * 100

database1.head()

,Neighborhood Code,Neighborhood Name,Registered Unemployed,Total Immigrants,Total Residents,% Immigrants 2017,% Unemployed 2017
0,1,el Raval,3559,4946,37271,13.270371,9.548979
1,2,el Barri Gòtic,949,2537,13045,19.448064,7.274818
2,3,la Barceloneta,1062,1666,11529,14.450516,9.211553
3,4,"Sant Pere, Santa Caterina i la Ribera",1466,2607,18010,14.475292,8.139922
4,5,el Fort Pienc,1368,1990,23230,8.566509,5.888937

In [8]:
year = 2016

unemployment_year = clean_unemployment[clean_unemployment['Year']== year]

immigrants_year_age = clean_immigrants_age[clean_immigrants_age['Year']== year]       
immigrants_year_nat = clean_immigrants_nat[clean_immigrants_nat['Year']== year]               

#population_year = clean_pop[clean_pop['Year']== year]
population_year_old = clean_pop_old[clean_pop_old['Year']== year]

immigrants_year_nat.head()

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Nationality,Number
11840,2016,1,Ciutat Vella,1,el Raval,Italy,332
11841,2016,1,Ciutat Vella,2,el Barri Gòtic,Italy,262
11842,2016,1,Ciutat Vella,3,la Barceloneta,Italy,208
11843,2016,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Italy,253
11844,2016,2,Eixample,5,el Fort Pienc,Italy,188

In [9]:

immigrants_agg_nat = immigrants_year_nat.groupby(['Neighborhood Code',"Neighborhood Name","Nationality"], as_index=False).agg({'Number': "sum"})
#immigrants_agg_nat2 = immigrants_agg_nat2[(immigrants_agg_nat["Number"] > 100)]
immigrants_agg = immigrants_year_age.groupby(['Neighborhood Code',"Neighborhood Name"], as_index=False).agg({'Immigrants': "sum"})



#population_agg = population_year.groupby(['Neighborhood Code',"Neighborhood Name"], as_index=False).agg({'Number': "sum"})

unemployment_gender_agg = unemployment_year.groupby(['Neighborhood Code',"Neighborhood Name", "Gender"], as_index=False).agg({'Number': "sum"})

unemployment_agg = unemployment_year.groupby(['Neighborhood Code',"Neighborhood Name"], as_index=False).agg({'Number': "sum"})


immigrants_agg = immigrants_agg.rename(columns = {"Immigrants": "Total Immigrants 2016"})

unemployment_agg = unemployment_agg.rename(columns = {"Number": "Registered Unemployed 2016"})

population_agg = pop_agg_old.rename(columns = {"Number": "Total Residents 2016", 'Neighborhood.Code': "Neighborhood Code","Neighborhood.Name" : "Neighborhood Name"})
#population_agg = population_agg.rename(columns = {"Number": "Total Residents"})


#immigrants_2017.tail()
#immigrants_2017_byhood.tail()
#hood1_pop = population_year [population_year["Neighborhood.Code"] ==1]
population_agg.head()

,Neighborhood Code,Neighborhood Name,Total Residents 2016
0,1,el Raval,37271
1,2,el Barri Gòtic,13045
2,3,la Barceloneta,11529
3,4,"Sant Pere, Santa Caterina i la Ribera",18010
4,5,el Fort Pienc,23230

In [10]:
merged_unemp_immigr = unemployment_agg.merge(immigrants_agg, on= ['Neighborhood Code',"Neighborhood Name"])

database2 = merged_unemp_immigr.merge(population_agg, on = ['Neighborhood Code',"Neighborhood Name"])

database2["% Immigrants 2016"] = database2['Total Immigrants 2016'] / database2["Total Residents 2016"] * 100 

database2["% Unemployed 2016"] = database2['Registered Unemployed 2016'] / database2["Total Residents 2016"] * 100

database = database1.merge(database2, on = ['Neighborhood Code',"Neighborhood Name"])

database.head()

,Neighborhood Code,Neighborhood Name,Registered Unemployed,Total Immigrants,Total Residents,% Immigrants 2017,% Unemployed 2017,Registered Unemployed 2016,Total Immigrants 2016,Total Residents 2016,% Immigrants 2016,% Unemployed 2016
0,1,el Raval,3559,4946,37271,13.270371,9.548979,3976,4457,37271,11.958359,10.667811
1,2,el Barri Gòtic,949,2537,13045,19.448064,7.274818,1051,2040,13045,15.638176,8.056727
2,3,la Barceloneta,1062,1666,11529,14.450516,9.211553,1223,1446,11529,12.542285,10.608032
3,4,"Sant Pere, Santa Caterina i la Ribera",1466,2607,18010,14.475292,8.139922,1691,2218,18010,12.315380,9.389228
4,5,el Fort Pienc,1368,1990,23230,8.566509,5.888937,1479,1789,23230,7.701248,6.366767

In [11]:
year = 2015

unemployment_year = clean_unemployment[clean_unemployment['Year']== year]

immigrants_year_age = clean_immigrants_age[clean_immigrants_age['Year']== year]       
immigrants_year_nat = clean_immigrants_nat[clean_immigrants_nat['Year']== year]               

#population_year = clean_pop[clean_pop['Year']== year]
population_year_old = clean_pop_old[clean_pop_old['Year']== year]

immigrants_year_nat.head()

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Nationality,Number
23902,2015,1,Ciutat Vella,1,el Raval,Italy,350
23903,2015,1,Ciutat Vella,2,el Barri Gòtic,Italy,249
23904,2015,1,Ciutat Vella,3,la Barceloneta,Italy,189
23905,2015,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Italy,292
23906,2015,2,Eixample,5,el Fort Pienc,Italy,138

In [12]:

immigrants_agg_nat = immigrants_year_nat.groupby(['Neighborhood Code',"Neighborhood Name","Nationality"], as_index=False).agg({'Number': "sum"})
#immigrants_agg_nat2 = immigrants_agg_nat2[(immigrants_agg_nat["Number"] > 100)]
immigrants_agg = immigrants_year_age.groupby(['Neighborhood Code',"Neighborhood Name"], as_index=False).agg({'Immigrants': "sum"})



#population_agg = population_year.groupby(['Neighborhood Code',"Neighborhood Name"], as_index=False).agg({'Number': "sum"})
pop_agg_old = population_year_old.groupby(['Neighborhood.Code',"Neighborhood.Name"], as_index=False).agg({'Number': "sum"})

unemployment_gender_agg = unemployment_year.groupby(['Neighborhood Code',"Neighborhood Name", "Gender"], as_index=False).agg({'Number': "sum"})

unemployment_agg = unemployment_year.groupby(['Neighborhood Code',"Neighborhood Name"], as_index=False).agg({'Number': "sum"})


immigrants_agg = immigrants_agg.rename(columns = {"Immigrants": "Total Immigrants 2015"})

unemployment_agg = unemployment_agg.rename(columns = {"Number": "Registered Unemployed 2015"})

population_agg = pop_agg_old.rename(columns = {"Number": "Total Residents 2015", 'Neighborhood.Code': "Neighborhood Code","Neighborhood.Name" : "Neighborhood Name"})
#population_agg = population_agg.rename(columns = {"Number": "Total Residents"})


#immigrants_2017.tail()
#immigrants_2017_byhood.tail()
#hood1_pop = population_year [population_year["Neighborhood.Code"] ==1]
population_agg.head()

,Neighborhood Code,Neighborhood Name,Total Residents 2015
0,1,el Raval,36832
1,2,el Barri Gòtic,12451
2,3,la Barceloneta,11370
3,4,"Sant Pere, Santa Caterina i la Ribera",17661
4,5,el Fort Pienc,22855

In [13]:
merged_unemp_immigr = unemployment_agg.merge(immigrants_agg, on= ['Neighborhood Code',"Neighborhood Name"])

database3 = merged_unemp_immigr.merge(population_agg, on = ['Neighborhood Code',"Neighborhood Name"])

database3["% Immigrants 2015"] = database3['Total Immigrants 2015'] / database3["Total Residents 2015"] * 100 

database3["% Unemployed 2015"] = database3['Registered Unemployed 2015'] / database3["Total Residents 2015"] * 100

database = database.merge(database3, on = ['Neighborhood Code',"Neighborhood Name"])

database.head()

,Neighborhood Code,Neighborhood Name,Registered Unemployed,Total Immigrants,Total Residents,% Immigrants 2017,% Unemployed 2017,Registered Unemployed 2016,Total Immigrants 2016,Total Residents 2016,% Immigrants 2016,% Unemployed 2016,Registered Unemployed 2015,Total Immigrants 2015,Total Residents 2015,% Immigrants 2015,% Unemployed 2015
0,1,el Raval,3559,4946,37271,13.270371,9.548979,3976,4457,37271,11.958359,10.667811,4368,4861,36832,13.197763,11.859253
1,2,el Barri Gòtic,949,2537,13045,19.448064,7.274818,1051,2040,13045,15.638176,8.056727,1197,2056,12451,16.512730,9.613686
2,3,la Barceloneta,1062,1666,11529,14.450516,9.211553,1223,1446,11529,12.542285,10.608032,1278,1465,11370,12.884785,11.240106
3,4,"Sant Pere, Santa Caterina i la Ribera",1466,2607,18010,14.475292,8.139922,1691,2218,18010,12.315380,9.389228,1773,2376,17661,13.453372,10.039069
4,5,el Fort Pienc,1368,1990,23230,8.566509,5.888937,1479,1789,23230,7.701248,6.366767,1716,1780,22855,7.788230,7.508204

In [14]:
result_database = database[['Neighborhood Code', 'Neighborhood Name', '% Immigrants 2017', '% Unemployed 2017', '% Immigrants 2016','% Unemployed 2016','% Immigrants 2015','% Unemployed 2015']]

result_database.head()

,Neighborhood Code,Neighborhood Name,% Immigrants 2017,% Unemployed 2017,% Immigrants 2016,% Unemployed 2016,% Immigrants 2015,% Unemployed 2015
0,1,el Raval,13.270371,9.548979,11.958359,10.667811,13.197763,11.859253
1,2,el Barri Gòtic,19.448064,7.274818,15.638176,8.056727,16.512730,9.613686
2,3,la Barceloneta,14.450516,9.211553,12.542285,10.608032,12.884785,11.240106
3,4,"Sant Pere, Santa Caterina i la Ribera",14.475292,8.139922,12.315380,9.389228,13.453372,10.039069
4,5,el Fort Pienc,8.566509,5.888937,7.701248,6.366767,7.788230,7.508204

In [15]:
result_database.describe()

,Neighborhood Code,% Immigrants 2017,% Unemployed 2017,% Immigrants 2016,% Unemployed 2016,% Immigrants 2015,% Unemployed 2015
count,73.000000,73.000000,73.000000,73.000000,73.000000,73.000000,73.000000
mean,37.000000,6.878240,7.341236,5.925730,8.353096,6.326625,9.397598
std,21.217131,2.721448,2.412604,2.206320,2.885632,2.375826,3.060992
min,1.000000,2.442079,2.813067,2.087247,3.145796,2.194964,3.570310
25%,19.000000,5.529480,5.976663,4.673913,6.738854,5.139665,7.586908
50%,37.000000,6.390371,7.011803,5.395193,7.979434,5.764895,9.067564
75%,55.000000,7.754196,8.427939,6.855856,9.625963,7.304189,10.857695
max,73.000000,19.448064,15.024038,15.638176,18.149038,16.512730,18.091698